



<div style="display: inline-block;height: 10vh;width: 98.5vw; background-color: darkslategrey; margin: 0px;margin-bottom: 10px; min-height: 50px;">
  <img src="../assets/logo.png" alt="logo">
  <fa-icon [icon]="faCog" style="color: white;float: right;margin-right: 20px; margin-top: 2vh;"></fa-icon>
  <a href="#" style="float: right;margin-right: 20px;margin-top: 2vh;">Log in</a>

</div>
<app-navmenu  style="display: inline-block;height: 70vh;min-width: 20vw;"></app-navmenu>


<div class="container" style="display:-webkit-inline-box; vertical-align: top; height: 78vh;width: 80vw;min-width: 200px;">
  <router-outlet></router-outlet>
</div>